<h1>Welcome to disney_api!</h1>

<p>
  <%= @greeting %>, don't forget to store the Authentification Token, located in the header, once you log in.  
</p>

<h3>Here are the documentation links:</h3>
<ul>
  <li><a href="">Characters</a></li>
  <li><a href="">Movies</a></li>
  <li><a href="">Genre</a></li>
  <li><a href="">Users</a></li>
  <li><a href="">Asociations</a></li>
</ul>
