<h1>Bienvenido a disney_api!</h1>

<p>
No te olvides de guardar el token de autentificación en el momento de log-in. Es necesario para cerrar la sesión.  
</p>

<h3>Acá están los links a la documentación:</h3>
<ul>
  <li><a href="https://documenter.getpostman.com/view/21120859/Uz5CKcxG">Usuarios</a></li>
  <li><a href="https://documenter.getpostman.com/view/21120859/Uz5CLxxS">Personajes</a></li>
  <li><a href="https://documenter.getpostman.com/view/21120859/Uz5CLxxT">Películas</a></li>
  <li><a href="https://documenter.getpostman.com/view/21120859/Uz5CLxxR">Género</a></li>
  <li><a href="https://documenter.getpostman.com/view/21120859/Uz5CLxxP">Asociaciones</a></li>
</ul>
